@using my_first_mvc.Models;
@{
    ViewData["Title"] = "HelloWorld";
    List<Dbmanager.Account> accounts = ViewBag.accounts;
}


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>密碼</th>
            <th>名字</th>
            <th>部門名稱</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (Dbmanager.Account account in accounts)
            {
                <tr>
                    <th>@account.ID</th>
                    <th>@account.password</th>
                    <th>@account.name</th>
                    <th>@account.deptname</th>
                    <th>@Html.ActionLink("編輯", "EditAccount", new { id = account.ID })</th>
                    <th>@Html.ActionLink("刪除", "DelAccount" , new { id = account.ID })</th>
                </tr>
            }
        }

    </tbody>
</table>
<h5>@Html.ActionLink("新增資料", "CreateAccount")</h5>

